body {
    margin: 0;
    background-color: #212121;
    color: #ffffff;
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

.wrapper {
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
    height: 100%;
}

.header {
    background-color: #1f1f1f; /* Более темный фон хедера */
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.manny_box {
    background-color: #282828; /* Более темный фон блока Manny */
    padding: 10px;
    border-radius: 5px;
}

.profile {
    /* Добавьте стили для блока профиля, например, изображение, размер, отступы и т.д. */
}

.button_block {
    justify-content: center;
    align-items: center;
    background: #37474f;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.cod {
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    color: #000000;
    background-color: #424242;
}

.button {
    background-color: #d54646;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #e5d6d6;
    font-size: 18px;
    border-radius: 90px;
    padding: 60px 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    border: none;
    outline: none;
    position: relative;
    overflow: hidden;
    border: 2px solid #6e2626;
}

.button:hover {
    background-color: #671818;
    transform: scale(1.05);
}

.button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #af3636, #420707);
    opacity: 0.3;
    z-index: -1;
    transition: opacity 0.3s;
}

.button:hover:before {
    opacity: 0.6;
}

.statistics {
    justify-content: space-between;
    display: flex;
    gap: 10px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: #2c2c2c;
    padding: 15px;
}

.score,
.glScore {
    flex-grow: 1;
    background-color: #424242;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.titelStat {
    margin-left: 10px;
    font-size: 18px;
    color: #ffffff;
}
